body{
    margin: 0;
    background-color: #FFF5DE;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 3.125rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #3C5186;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #3C5186;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #3C5186;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
}
p{
    line-height: 2;
}
.top_container{
    background-color:#C6B4CE;
    padding-top: 6.25rem;

}
.middle_container{
    background-color: #FFF5DE;
    margin: 6.25rem 0;
    
}
.bottom_container{
    background-color: #C6B4CE;
    padding: 3.125rem 0 1.25rem;
}
.top_cloud{
    position: absolute;
    top: 3.125rem;
    right: 18.75rem;
    width: 12.5rem;
    height: 5rem;
}
.bottom_cloud{
    position: absolute;
    left: 18.75rem;
    bottom: 18.75rem;
    width: 12.5rem;
    height: 5rem;
}
.mountain{
    width: 31.25rem;
    height: 22.5rem;
}
.header_two{
    font-weight: normal;
}
.skill_row{
    width: 50%;
    text-align: left;
    margin: 6.25rem auto 6.25rem auto;
}
.skill_one{
    width: 25%;
    float: left;
    margin-right: 1.875rem;
}
.skill_two{
    width: 25%;
    float: right;
    margin-left: 1.875rem;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 0.625rem;
    border-color: #C6B4CE;
    margin: 6.25rem auto;
}
.contact_me{
    margin: 2.5rem auto 3.75rem;
    width: 40%;
}
.intro{
    width: 30%;
    margin: auto;
}
.btn {
    background: #C6B4CE;
    background-image: -webkit-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -moz-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -ms-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -o-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -webkit-gradient(to bottom, #C6B4CE, #3C5186);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.875rem;
    width: 8.75rem;
    font-size: 1.25rem;
    font-weight: 100;
    padding: 1.25rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #C6B4CE;
    background-image: -webkit-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -moz-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -ms-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -o-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -webkit-gradient(to bottom, #C6B4CE, #C6B4CE);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
 }
 .footer{
    color: white;
    font-size: 0.75rem;
    padding: 1.25rem 0;
 }
 .profile_image{
    width: 12.5rem; 
    height: 12.5rem;
 }
