body{
    margin: 0;
    background-color: #FFF5DE;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #3C5186;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #3C5186;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    color: #3C5186;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
}
p{
    line-height: 2;
}
.top_container{
    background-color:#C6B4CE;
    padding-top: 100px;

}
.middle_container{
    background-color: #FFF5DE;
    margin: 100px 0;
    
}
.bottom_container{
    background-color: #C6B4CE;
    padding: 50px 0 20px;
}
.top_cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom_cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.header_two{
    font-weight: normal;
}
.skill_row{
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
}
.skill_one{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill_two{
    width: 25%;
    float: right;
    margin-left: 30px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 10px;
    border-color: #C6B4CE;
    margin: 100px auto;
}
.contact_me{
    margin: 40px auto 60px;
    width: 40%;
}
.intro{
    width: 30%;
    margin: auto;
}
.btn {
    background: #C6B4CE;
    background-image: -webkit-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -moz-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -ms-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -o-linear-gradient(top, #C6B4CE, #3C5186);
    background-image: -webkit-gradient(to bottom, #C6B4CE, #3C5186);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    width: 140px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #C6B4CE;
    background-image: -webkit-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -moz-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -ms-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -o-linear-gradient(top, #C6B4CE, #C6B4CE);
    background-image: -webkit-gradient(to bottom, #C6B4CE, #C6B4CE);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }
 .footer{
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
 }